*{
	padding:0px;
	margin:0px;
}
body{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 24px;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
}

/*global css start*/

.container{
	width:1140px;
	margin: 0px auto;
}

.row{
	width:100%;
	float:left;
}

.col-lg-12{
	width:100%;
	float:left;
}
.col-lg-6{
	width:50%;
	float:left;
}
.col-lg-4{
	width:33.33%;
	float:left;
}
.text-right{
	text-align: right;
}
/*global css end*/


/*Header section Start*/
.header-section{
	width:100%;
	float:left;
	padding: 30px 0px;
	background:#f6f9f9;
}
.logo{
	width:100%;
	float:left;
}
/*Header section End*/

/*Banner section Start*/
.banner-section{
	width:100%;
	padding:140px 0px 100px;
	float:left;
	background: url("../images/banner.png") center top no-repeat;
	background-size:cover;
}

.inner-banner{
	width:100%;
	float:left;
	text-align: center;
}
.inner-banner h1{
	font-size: 80px;
	font-weight: 700px;
	line-height: 90px;
	text-transform: uppercase;
	color:#ffffff;
	letter-spacing: 2px;
}
.inner-banner .divider{
	width:42%;
	height:2px;
	background-color:#15a4fa;
	margin:20px auto;
}
.inner-banner p{
	font-size:16px;
	line-height: 26px;
	color: #ffffff;
	margin-bottom: 50px;
}
.inner-banner .btn-info{
	text-decoration: none;
	padding:16px 34px;
	border-radius: 2px;
	background-color: transparent;
	border: 2px solid #15a4fa;
	color:#ffffff;
	font-size: 16px;
	font-weight:600;
	transition:1s;
}
.inner-banner .btn-info:hover{
	background:#15a4fa;
	border: 2px solid #15a4fa;
	color:#ffffff;

}
.banner-section .arrow{
	width:100%;
	float:left;
	text-align: center;
	padding:120px 0px 0px;
	margin-top: 140px;

}
/*Banner section End*/

/*Simple & Pure Start*/
.simmple-pure{
	width:100%;
	float:left;
	text-align:center;
	background-color:#f6f9f9;
	padding:80px 0px;
}
.simmple-pure .inner-simple-pure h1{
	font-size: 40px;
	line-height: 50px;
	font-weight: 400;
	color:#2d3950;
	margin-bottom: 25px;
}
.simmple-pure .inner-simple-pure p{
	width:66%;
	margin:auto;
	font-size: 14px;
	line-height: 24px;
	color:#999999;
}
/*Simple & Pure End*/

/*Features Section Start */
.feature-section{
	width:100%;
	float:left;
	padding:80px 0px;
}
.feature-section .inner-feature{
	width:100%;
	float:left;
	text-align:center;
}
.feature-section .inner-feature img{
	margin-bottom: 10px;
}
.feature-section .inner-feature h3{
	font-size:18px;
	line-height: 28px;
	font-weight: 600;
	color:#2d3950;
	margin-bottom: 10px;
}
.feature-section .inner-feature p{
	font-size: 14px;
	line-height: 24px;
	color:#999999;
}
/*Features Section End*/

/*Portfolio Section Start*/
.portfolio{
	width:100%;
	float:left;
	padding: 80px 0px;
	background-color: #f6f9f9;
}

.portfolio h1{
	font-size: 40px;
	line-height: 50px;
	font-weight: 400;
	text-align: center;
	color:#2d3950;
	margin-bottom: 15px;
}
.portfolio p{
	width:66%;
	margin:auto;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color:#999999;
	margin-bottom:55px;
}
.portfolio .inner-portfolio{
	width: 100%;
	float:left;
	position:relative;
	margin-bottom:13px;
}
.portfolio .inner-portfolio .portfolio-hover{
	width:95%;
	height:98%;
	position:absolute;
	top:0;
	bottom:0;
	background-color: rgba(21, 164, 250, 0.9);
	display:none;
}

.portfolio .inner-portfolio .portfolio-hover .port-hover-icons{
	width:100%;
	position:absolute;
	top:42%;
	left:38%;
}
.portfolio .inner-portfolio .portfolio-hover .port-hover-icons img{
	margin-right: 6px;
}
.portfolio .inner-portfolio:hover .portfolio-hover{
	display: block;
}

/*Portfolio Section End*/

/*Contact-section start*/
.contact-section{
	width:100%;
	float:left;
	padding: 80px 0px;
	background:url("../images/cbg.png") center top no-repeat;
	background-size: cover;
}
.contact-section h1{
	font-size: 40px;
	line-height: 50px;
	font-weight: 400;
	text-align: center;
	color:#ffffff;
	margin-bottom: 15px;
}
.contact-section p{
	width:66%;
	margin:auto;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color:#999999;
	margin-bottom:55px;
}

.contact-form{
	width:50%;
	margin:40px auto 0px;
}
.contact-form .form-group{
	width: 100%;
	float: left;
	margin:10px ;
}
.contact-form .form-group .form-control{
	width:95%;
	padding: 15px;
	background:transparent;
	border: 1px solid #999999;
	border-radius: 2px;
	font-size: 14px;
	font-weight: 500;
	color:#999999;
}
.contact-form .form-group span{
	margin-left:14px;
	font-size:14px;
	text-transform: capitalize;
	color: #ffffff;
}
.contact-form .form-group .contact-btn-info{
	padding:10px 35px;
	border: 1px solid #15a4fa;
	border-radius: 2px;
	background:transparent;
	font-size:14px;
	font-weight: 500;
	color:#ffffff;
	transition:1s;
}

.contact-form .form-group .contact-btn-info:hover{
	border: 1px solid #15a4fa;
	background:#15a4fa;
	color:#ffffff;
}
/*Contact-section end*/

/*footer start*/
.footer-section{
	width:100%;
	float:left;
	padding: 15px 0px;
}
.footer-section p{
	font-size:14px;
	line-height:24px;
	color:#999999;
	margin-top: 10px;
}
.footer-section .social-icons{
	width:100%;
	float: left;
	text-align: right;
}

.footer-section .social-icons li{
	list-style: none;
	display: inline-block;
}

.footer-section .social-icons li a{
	display: block;
	width:40px;
	height:40px;
	line-height: 40px;
	font-size:18px;
	text-align: center;
	color:#ffffff;
	background: #15a4fa;
	margin: 0px 3px;
	transition:1s;
}

.footer-section .social-icons li a:hover{
	background: transparent;
	color:#15a4fa;
	border: 1px solid #15a4fa;
}
/*footer end*/